<header id="header"></header>
<div class="pageGeneral" id="pageGeneral">
  <form action="/log" method="post">
    <h1>Info:</h1>
    <div class="containerLR">
      <h2 class="left">Body Weight (lbs):</h2>
      <div class="inputDiv right"><input type="number" id="bodyWeight" name="bodyWeight" placeholder="160 lbs" /></div>
    </div>
    <hr>
    <div class="containerLR">
      <h2 class="left">Start Time:</h2>
      <div class="inputDiv right"><input type="datetime-local" name="startTime"/></div>
    </div>
    <hr>
    <div class="containerLR">
      <h2 class="left">End Time:</h2>
      <div class="inputDiv right"><input type="datetime-local" name="endTime"/></div>
    </div>
    <hr>
    <h1>Exercises:</h1>
    <div class="containerLR">
      <div class="inputDiv left searchFlipper">
        <span style="color: red;" onclick="clearInputs(0);">&#x2715;&nbsp;</span>
        <select id="exerciseSelect" name="exerciseName0">
          <option value="" selected>Exercise 1</option>
          <option value="dumbbellPress">Dumbbell Press</option>
          <option value="dumbbellFly">Dumbbell Fly</option>
          <option value="shoulderPress">Shoulder Press</option>
        </select>
      </div>
      <div class="inputDiv tripleInput right">
        <input type="number" name="weight0" placeholder="120 lbs" />
        <input type="number" name="sets0" placeholder="3 sets" />
        <input type="number" name="reps0" placeholder="10 reps" />
      </div>
    </div>
    <hr>
    <div class="containerLR">
      <div class="inputDiv left searchFlipper">
        <span style="color: red;" onclick="clearInputs(1);">&#x2715;&nbsp;</span>
        <select id="exerciseSelect" name="exerciseName1">
          <option value="" selected>Exercise 2</option>
          <option value="dumbbellPress">Dumbbell Press</option>
          <option value="dumbbellFly">Dumbbell Fly</option>
          <option value="shoulderPress">Shoulder Press</option>
        </select>
      </div>
      <div class="inputDiv tripleInput right">
        <input type="number" name="weight1" placeholder="120 lbs" />
        <input type="number" name="sets1" placeholder="3 sets" />
        <input type="number" name="reps1" placeholder="10 reps" />
      </div>
    </div>
    <hr>
    <div class="containerLR">
      <div class="inputDiv left searchFlipper">
        <span style="color: red;" onclick="clearInputs(2);">&#x2715;&nbsp;</span>
        <select id="exerciseSelect" name="exerciseName2">
          <option value="" selected>Exercise 3</option>
          <option value="dumbbellPress">Dumbbell Press</option>
          <option value="dumbbellFly">Dumbbell Fly</option>
          <option value="shoulderPress">Shoulder Press</option>
        </select>
      </div>
      <div class="inputDiv tripleInput right">
        <input type="number" name="weight2" placeholder="120 lbs" />
        <input type="number" name="sets2" placeholder="3 sets" />
        <input type="number" name="reps2" placeholder="10 reps" />
      </div>
    </div>
    <hr>
    <div class="containerLR">
      <div class="inputDiv left searchFlipper">
        <span style="color: red;" onclick="clearInputs(3);">&#x2715;&nbsp;</span>
        <select id="exerciseSelect" name="exerciseName3">
          <option value="" selected>Exercise 4</option>
          <option value="dumbbellPress">Dumbbell Press</option>
          <option value="dumbbellFly">Dumbbell Fly</option>
          <option value="shoulderPress">Shoulder Press</option>
        </select>
      </div>
      <div class="inputDiv tripleInput right">
        <input type="number" name="weight3" placeholder="120 lbs" />
        <input type="number" name="sets3" placeholder="3 sets" />
        <input type="number" name="reps3" placeholder="10 reps" />
      </div>
    </div>
    <hr>
    <div class="containerLR">
      <div class="inputDiv left searchFlipper">
        <span style="color: red;" onclick="clearInputs(4);">&#x2715;&nbsp;</span>
        <select id="exerciseSelect" name="exerciseName4">
          <option value="" selected>Exercise 5</option>
          <option value="dumbbellPress">Dumbbell Press</option>
          <option value="dumbbellFly">Dumbbell Fly</option>
          <option value="shoulderPress">Shoulder Press</option>
        </select>
      </div>
      <div class="inputDiv tripleInput right">
        <input type="number" name="weight4" placeholder="120 lbs" />
        <input type="number" name="sets4" placeholder="3 sets" />
        <input type="number" name="reps4" placeholder="10 reps" />
      </div>
    </div>
    <hr>
    <div class="middler"><button type="submit" class="submitButton">Log Current Session</button></div>
  </form>
</div>
<nav id="sidebar">
  <div class="imgBurger"><img src="public/img/burger.png" onclick="toggleSidebar()" alt="menu icon here"></div>
  <section>
    <h1 onclick="redirect('/progress')">
      <span><img src="public/img/progressIcon.png"></span>
      Progress
    </h1>
    <h1 onclick="redirect('log.html')">
      <span><img src="public/img/logIcon.png"></span>
      Log Session
    </h1>
    <h1 onclick="redirect('learn.html')">
      <span><img src="public/img/learningIcon.png"></span>
      Learning
    </h1>
  </section>
  <h2 class="fireNum">27 day streak!</h2>
  <img src="public/img/lineOfFire.png" onclick="toggleSidebar()" alt="menu icon here">
</nav>

<script>createHeader('Log Session');</script>