<!--

NOTES:
- Meant to be viewed in iPhone 14 Pro mode on Chrome

TODO:
- 

-->

<body>
  <header id="header"></header>
  <div class="pageGeneral" id="pageGeneral">
    <h1>Info:</h1>
    <div class="containerLR">
      <h2 class="left">Current Body Weight (lbs):</h2>
      <h3 class="right">{{bodyWeight}}</h3>
    </div> <hr>
    <div class="containerLR">
      <h2 class="left">Average Workout Time:</h2>
      <h3 class="right">{{averageWorkoutTime}} Minutes</h3>
    </div> <hr>
    <div class="containerLR">
      <h2 class="left">Average Workouts per Week:</h2>
      <h3 class="right">{{averageWorkoutsPerWeek}}</h3>
    </div> <hr>
    <div class="containerLR">
      <h1 class="left">View:</h1>
      <div class="inputDiv right searchFlipper">
        <select id="exerciseSelect" name="exerciseSelect" onchange="queryExercises()">
          <option value="" disabled selected>Select one here</option>
          <option value="dumbbellPress">Dumbbell Press</option>
          <option value="dumbbellFly">Dumbbell Fly</option>
          <option value="shoulderPress">Shoulder Press</option>
        </select>
      </div>
    </div>
    <div class="containerLR">
      <h2 class="left">Max Weight:</h2>
      <h3 class="right">200 lbs</h3>
    </div> <hr>
    <div class="containerLR">
      <h2 class="left">Average Sets and Reps:</h2>
      <h3 class="right">5 x 12</h3>
    </div>
  </div>
  <nav id="sidebar">
    <div class="imgBurger"><img src="public/img/burger.png" onclick="toggleSidebar()" alt="menu icon here"></div>
    <section>
      <h1 onclick="redirect('/progress')">
        <span><img src="public/img/progressIcon.png"></span>
        Progress
      </h1>
      <h1 onclick="redirect('/log')">
        <span><img src="public/img/logIcon.png"></span>
        Log Session
      </h1>
      <h1 onclick="redirect('/learn')">
        <span><img src="public/img/learningIcon.png"></span>
        Learning
      </h1>
    </section>
    <h2 class="fireNum">27 day streak!</h2>
    <img src="/public/img/lineOfFire.png" onclick="toggleSidebar()" alt="menu icon here">
  </nav>
</body>

<script>createHeader('Progress');</script>
