/*
FONTS:
  font-family: 'Pragati Narrow', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;

*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Koulen&display=swap');




/* VARIABLES ------------------------------------------------------------------------------------------------------------------------- */
:root {
	--priFont: 'Koulen', sans-serif;
	--secFont: 'Atkinson Hyperlegible', sans-serif;
	--terFont: 'Bai Jamjuree', sans-serif;

	--whiteish: #EDEDED;
	--blackish: #4E4E4E;

	--primFir: #49828A;
	--primSec: #04353C;
	--secFir: #F4A259;
	--secSec: #F6C395;

}

::-moz-selection {
	background: #31a7da50;
}

::selection {
	background: #31a7da50;
}



/* STANDARD ------------------------------------------------------------------------------------------------------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: blue;
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

html, body {
	width: 100vw;
	scroll-behavior: smooth;
	background-color: var(--whiteish);
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

hr {
	color: #DDDDDD;
	margin: 10px 0px;
}

button:active {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .6);
}

select {
	border-radius: 10px;
    width: 185px;
    height: 25px;
	text-align: left;
    padding: 0px 5px;
    border: 2px solid var(--blackish);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
	color: var(--blackish);
    outline: none;
	font-family: var(--terFont);
    font-weight: bold;
	font-size: 14px;
}

select option {
	border-radius: 10px;
    width: 185px;
    height: 25px;
	text-align: left;
    padding: 0px 5px;
    border: 2px solid var(--blackish);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
	color: var(--blackish);
    outline: none;
	font-family: var(--terFont);
	font-size: 14px;
}

input {
	border-radius: 10px;
    width: 185px;
    height: 25px;
	text-align: left;
    padding: 0px 5px;
    border: 2px solid var(--blackish);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
	color: var(--blackish);
    outline: none;
	font-family: var(--terFont);
    font-weight: bold;
	font-size: 13px;
}

input::placeholder {
	color: #acacac;
}

input:focus {
	border: 4px solid var(--primFir);
}

input[type="number"] {
	border: none;
	border-bottom: 2px solid var(--blackish);
	background-color: transparent;
	border-radius: 0px;
	box-shadow: 0px 0px 0px;
	display: inline-block;
	font-size: 16px;
}

input[type="number"]:focus {
	border-bottom: 4px solid var(--primFir);
}

h1 {
	font-family: var(--secFont);
	color: black;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 20px;
}

h2 {
	font-family: var(--terFont);
	color: var(--blackish);
	font-weight: bold;
	font-size: 18px;
	padding: 10px 0px;
}

h3 {
	font-family: var(--terFont);
	color: black;
	font-size: 18px;
	padding: 10px 0px;
}

h4 {}




/* ALL PAGES ------------------------------------------------------------------------------------------------------------------------- */
#sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 62%;
	background-color: white;
	transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.35, 1.04);
	transform: translateX(100%);
}

#sidebar.active {
	transform: translateX(0);
	box-shadow: 0 0 1500px rgba(0, 0, 0, 1);
}

nav .imgBurger {
	padding: 10px 15px;
}

nav section {
	padding-top: 25px;
}

nav section h1 {
	padding: 15px 20px;
}

nav > img {
	position: absolute;
    bottom: -23px;
    width: 120%;
    left: -24px;
}

nav section h1 span img {
	vertical-align: sub;
}

nav .fireNum {
	font-size: 35px;
    position: absolute;
    bottom: 55px;
    width: 100%;
    text-align: center;
}

header {
	width: 100%;
	height: 7%;
	display: flex;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
}

.imgLogo {
	flex: 1;
}

.headerPri {
	flex: 2;
	font-family: var(--priFont);
	color: black;
	font-size: 40px;
}

.headerSec {
	flex: 3;
	flex-grow: 4;
	font-family: var(--secFont);
	color: var(--blackish);
	font-size: 20px;
	height: 15px;
}

header .imgBurger {
	flex: 4;
	flex-grow: 1;
	padding: 0px 15px;
}

.pageGeneral {
	width: 100%;;
	padding: 15px;
}

.containerLR {
	overflow: auto;
	padding: 0px 10px;
}

.left {
	float: left;
	width: 45%;
	white-space: nowrap;
}

.right {
	float: left;
	width: 55%;
	text-align: right;
}









/* SOME PAGES ------------------------------------------------------------------------------------------------------------------------- */
.inputDiv {
	padding: 10px 0px;
}
.tripleInput {
	white-space: nowrap;
}
.tripleInput input {
	width: 67px;
}
.tripleInput span {
	font-family: var(--terFont);
	font-weight: bold;
	color: var(--blackish);
}


.middler {
	text-align: center;
}
.submitButton {
	background-color: var(--primFir);
	color: var(--whiteish);
	width: 70%;
	height: 35px;
	margin-top: 70px;
	border: 0px;
	border-radius: 10px;
	font-family: var(--secFont);
	font-size: 20px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
	transition: .2s;
}
.submitButton:active {
	background-color: var(--primSec);
}

.cancelButton {
	background-color: var(--whiteish);
	color: var(--primFir);
	width: 70%;
	height: 35px;
	margin-top: 20px;
	border: 2px solid var(--primFir);
	border-radius: 10px;
	font-family: var(--secFont);
	font-size: 20px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, .2);
	transition: .2s;
}
.cancelButton:active {
	background-color: var(--primSec);
	color: var(--whiteish);
	border: 2px solid var(--primSec);
}

.left select {
	width: 125px;
}

.searchFlipper span {
	z-index: 99;
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70px;
}